body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 150%;
}

h1{
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a{
    color: #11999E;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
}

p{
    color: #40514E;
    
}

hr{
    border-color: #A5A5Af;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    width: 3%;
    margin: 100px auto 100px auto;
}

.btn{
    background: rgb(17,205,212);
    background: linear-gradient(180deg, rgba(17,205,212,1) 0%, rgba(17,153,158,1) 61%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom:100px;
    margin-top: 50px;
}

.btn:hover{
    background: rgb(48,227,203);
background: linear-gradient(180deg, rgba(48,227,203,1) 0%, rgba(43,196,173,1) 54%);
}

.codeimg{
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 80px;
}

.profile{
    
}

.expertcode{

}

.gamesimg{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.topcontainer{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middlecontainer{
    
}

.bottomcontainer{
    
}

.top-cloud{
    position: absolute;
    right: 530px;
    width: 150px;
    top: 90px;
}
.bottom-cloud{
    position: absolute;
    width: 150px;
    left: 500px;
}

.bottom-container{
    background-color:#4bbec2;
    clear: both;
    position: relative;
    height: 200px;
    padding-top: 50px;
}

.footer-link{
    color: white;
}

.myname{
    color: #EAF6F6;
    padding-top:50px;
}

.slider-holder
{
    width: 800px;
    height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-holder
{
    width: 2400px;
    background-color: black;
    height: 400px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image
{
    width: 790px;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.button-holder
{
    position: relative;
    top: -20px;
}

.containerimg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.projectimg{
    width: 800px;
}